<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" placeholder="Username" value="tjgambs">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" placeholder="Company" value="Tim">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name" value="Gamble">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Favorite Cryptocurrencies</h4>
                                        </div>
                                        <div class="content">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <input id="checkbox1" type="checkbox">
                                                                <label for="checkbox1"></label>
                                                            </div>
                                                        </td>
                                                        <td>Bitcoin</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <input id="checkbox2" type="checkbox">
                                                                <label for="checkbox2"></label>
                                                            </div>
                                                        </td>
                                                        <td>Ethereum</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <input id="checkbox3" type="checkbox">
                                                                <label for="checkbox3"></label>
                                                            </div>
                                                        </td>
                                                        <td>Litecoin</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/default-avatar-background.jpeg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a>
                                <img class="avatar border-gray" src="assets/img/default-avatar.png" alt="..."/>

                                <h4 class="title">Tim Gamble<br />
                                    <small>tjgambs</small>
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
