<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <graph></graph>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <ticker
                  [exchange]="'GDAX'"
                  [currency]="'BTCUSD'"
                  [quotes]="quotes">
                </ticker>
            </div> 
            <div class="col-md-4">
              <ticker
                  [exchange]="'Bitfinex'"
                  [currency]="'BTCUSD'"
                  [quotes]="quotes">
                </ticker>
            </div> 
            <div class="col-md-4">
              <ticker
                  [exchange]="'Binance'"
                  [currency]="'BTCUSD'"
                  [quotes]="quotes">
                </ticker>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-4">
              <ticker
                  [exchange]="'Bitstamp'"
                  [currency]="'BTCUSD'"
                  [quotes]="quotes">
                </ticker>
            </div> 
            <div class="col-md-4">
              <ticker
                  [exchange]="'Gemini'"
                  [currency]="'BTCUSD'"
                  [quotes]="quotes">
                </ticker>
            </div> 
            <div class="col-md-4">
              <ticker
                  [exchange]="'Poloniex'"
                  [currency]="'BTCUSD'"
                  [quotes]="quotes">
                </ticker>
            </div> 
        </div>
    </div>
</div>
